@font-face {
  font-family: 'iconfont';  /* project id 1926386 */
  src: url('//at.alicdn.com/t/font_1926386_5j14vsi1g0q.eot');
  src: url('//at.alicdn.com/t/font_1926386_5j14vsi1g0q.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1926386_5j14vsi1g0q.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1926386_5j14vsi1g0q.woff') format('woff'),
  url('//at.alicdn.com/t/font_1926386_5j14vsi1g0q.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1926386_5j14vsi1g0q.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziti:before {
  content: "\e7b5";
}

.icon-peisong:before {
  content: "\e7b6";
}

.icon-Circle:before {
  content: "\e711";
}

.icon-Money:before {
  content: "\e780";
}

.icon-yuxiashipeise:before {
  content: "\e7b1";
}

.icon-zaishoupeise:before {
  content: "\e7b2";
}

.icon-santiankejiaofu:before {
  content: "\e7b3";
}

.icon-buzaishoupeise:before {
  content: "\e7b4";
}

.icon-Fire:before {
  content: "\e7b0";
}

.icon-ShoppingCart:before {
  content: "\e70f";
}

.icon-Ban:before {
  content: "\e723";
}

.icon-Check-Circle-Filled-2:before {
  content: "\e7ac";
}

.icon-icon-addcart:before {
  content: "\e6bc";
}

.icon-Plus-Circle-Stroke:before {
  content: "\e744";
}

.icon-icon-biglessen:before {
  content: "\e6bd";
}

.icon-home-icon-cart:before {
  content: "\e6be";
}

.icon-icon-close:before {
  content: "\e6bf";
}

.icon-icon-littlelessen:before {
  content: "\e6c0";
}

.icon-icon-littleadd:before {
  content: "\e6c1";
}

.icon-icon-bigadd:before {
  content: "\e6c2";
}

.icon-list-icon-bigchoose-nor:before {
  content: "\e6c3";
}

.icon-icon-search:before {
  content: "\e705";
}

.icon-list-icon-choose:before {
  content: "\e6c5";
}

.icon-list-icon-down:before {
  content: "\e6c6";
}

.icon-Arrow-Down:before {
  content: "\e79c";
}

.icon-Arrow-right:before {
  content: "\e7a0";
}

.icon-list-icon-delete:before {
  content: "\e6c7";
}

.icon-list-icon-bigchoose-sel:before {
  content: "\e6c8";
}

.icon-icon-upload:before {
  content: "\e6c9";
}

.icon-list-icon-littlechoose-nor:before {
  content: "\e6ca";
}

.icon-list-icon-next:before {
  content: "\e6cb";
}
.Cube:before {
  content: "\e745";
}
.More-Horizon:before {
  content: "\e772";
}
.Graph-PieChart:before {
  content: "\e734";
}
.Trash:before {
  content: "\e768";
}
.icon-list-icon-littlechoose-sel:before {
  content: "\e6cc";
}

.icon-list-icon-up:before {
  content: "\e6cd";
}

.icon-list-icon-earnest:before {
  content: "\e6ce";
}

.icon-tab-icon-home:before {
  content: "\e6cf";
}

.icon-tab-icon-me:before {
  content: "\e6d0";
}

.icon-list-icon-radio:before {
  content: "\e6d1";
}

.icon-tab-icon-indent:before {
  content: "\e6d2";
}

.icon-list-icon-settiing:before {
  content: "\e6d3";
}

.icon-tab-icon-draft:before {
  content: "\e6d4";
}
.icon-x:before {
  content: "\e71e";
}
.icon-arrow-down:before {
  content: "\e79c";
}
.icon-arrow-up:before {
  content: "\e7a6";
}
.icon-arrow-right:before {
  content: "\e7a0";
}
.icon-arrow-left:before {
  content: "\e7a5";
}
.icon-arrow-circlefilled:before {
  content: "\e793";
}
.icon-success:before {
  content: "\e738";
}
.icon-setting:before {
  content: "\e791";
}
.icon-share:before {
  content: "\e777";
}
.icon-filled-close:before {
  content: "\e776";
}
.icon-eye:before {
  content: "\e779";
}
.icon-eye-off:before {
  content: "\e743";
}
.icon-loading:before {
  content: "\e74c";
}
.icon-printer:before {
  content: "\e75e";
}
.icon-customer:before {
  content: "\e769";
}
.icon-Image:before {
  content: "\e787";
}
.icon-setting2:before {
  content: "\e798";
}
.icon-user:before {
  content: "\e794";
}
.icon-receipt:before {
  content: "\e761";
}
.icon-file:before {
  content: "\e71c";
}
.icon-edit:before {
  content: "\e715";
}
.icon-Check-Circle-Filled:before {
  content: "\e736";
}
.icon-scan:before {
  content: "\e74f";
}
