
// 主要颜色
$red: #D31311;
$bgred:#E42727;
$blue: #191A46;
$orange: #FF8D4E;
$brown: #AD946B;
$gray: #F6F6F8;
$black: #818199;
$list-title-color: #818199;
$list-action-color: #191A46;
$bottom-line-color: #F2F2F2;
$input-placeholder-color: #bdc3c7;
$input-color: #191A45;
$page-bgcolor:#F6F6F8;
// 字体颜色
$title:#272727;
$subTitle: #737373;
// 边距
$xs: 10rpx;
$sm: 20rpx;
$df: 30rpx;
$lg: 40rpx;
$xl: 50rpx;

// 字号
$font-xs: 20rpx;
$font-sm: 24rpx;
$font-df: 28rpx;
$font-lg: 32rpx;
$font-xl: 36rpx;
$font-xxl: 44rpx;
$font-sl: 80rpx;
$font-xsl: 120rpx;

@import  "@/style/index.scss";